# OAuth 2.0 Client ID (type: Web application) from Google Cloud Console.
# Authorized JavaScript origin must include http://localhost:5173
VITE_GOOGLE_CLIENT_ID=1234567890-abc.apps.googleusercontent.com
